{
"uri_scheme"    : "https",
"server"        : "us1.lacunaexpanse.com",
"api_key"       : "6b38d664-323a-4aec-8805-8d928557fb43",
"cache_dir"     : "cache",

"empire_name"   : "Empire Of Umpire",
"password"      : "PassWord"
}
